@import "../../styles/variables.scss";
.main-card.create-pizza {
  .head-card {
    padding: 10px;
    .title-head {
      max-width: 500px;
      margin: 0 auto;
      h3{
        text-align: center;
      }
    }
  }

  .card-body {
    padding: 15px;
    h3 {
      text-align: center;
      color: $primary-font-color;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
@media(max-width:576px){
  .main-card.create-pizza {
    .card-body {
      .ico-pizza{
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
  }
}